
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-color: #B2D8D8;
  background-size: cover;
  height: 100vh;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
  max-width: 550px;
  background: #008080;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h1{
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}

h3{
  color: #fff;
  text-align: center;
  margin-bottom: 2px;
}

h5{
  color: #fff;
  text-align: center;
  margin-bottom: 2px;
}

h6{
  color: #ff9;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 1px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  margin-bottom: 8%;
  margin-right: 5%;
  margin-left: 5%;
}


.btn {
  background: #004C4C;
  text-align: center;
  padding: 25px;
  border-radius: 15px;
  border: #004C4C;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: x-large;
  text-transform: uppercase;
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
}